<div class="category-management-container">
  <div class="page-header">
    <span class="h1-badge">Logs</span>
    <div class="header-actions">
<!--      <div class="search-box">-->
<!--        <input type="text" class="form-control" placeholder="Rechercher..."-->
<!--               [(ngModel)]="searchText" (keyup)="filterLogs()">-->
<!--        <i class="fas fa-search"></i>-->
<!--      </div>-->
    </div>
  </div>
  <div class="category-list-container">
    <div class="category-filters">
      <div class="filter-group">
        <label>Filtrer par section:</label>
        <select class="form-select" [(ngModel)]="zoneRechercheSelected" (change)="loadPharmacyActivities()">
          <option [value]="section.key" *ngFor="let section of zoneRechercheArray"> {{section.name}} </option>
        </select>
      </div>
      <div class="filter-group">
        <label>Filtrer par utilisateur:</label>
        <select class="form-select" [(ngModel)]="userSelected" (change)="loadPharmacyActivities()">
          <option [value]="user.key" *ngFor="let user of usersArray"> {{user.name}} </option>
        </select>
      </div>
<!--      <div class="filter-group">-->
<!--        <label> Periode  </label>-->
<!--        <input type="number" class="form-control" [(ngModel)]="prePage" (change)="loadPharmacyActivities()">-->
<!--      </div>-->
    </div>
  </div>
  <div class="row" style="margin-bottom: 0;" *ngIf="pharmacyActivitiesFilter.length > 0">
    <app-activity-timeline [activites]="pharmacyActivities" [usersInfo]="usersInfo"></app-activity-timeline>
  </div>

</div>
