<div class="overload" [style.display]="imLoading ? 'flex' : 'none'">
  <div class="spinner"></div>
</div>
<app-navigation [url]="urlDashboard"
  class="coded-navbar pc-sidebar"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    horizontal: currentLayout === 'vertical',
    compact: currentLayout === 'compact',
    'mob-open': navCollapsedMob
  }"
  (NavCollapsedMob)="navMobClick()"
/>
<app-nav-bar [url]="urlDashboard" (NavCollapse)="this.navCollapsed = !this.navCollapsed" (NavCollapsedMob)="navMobClick()" />
<div class="pc-container">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumb [url]="urlDashboard" />
        <div class="main-body">
          <div class="page-wrapper">
            <ng-template #userInfoModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title">Information manquante</h5>
              </div>
              <div class="modal-body">
                <hr>
                <div *ngIf="modalError" class="alert alert-danger mt-2">
                  {{ modalError }}
                </div>
                <div *ngIf="!modalError">
                  <p>Veuillez compléter vos informations personnelles pour continuer.</p>
                </div>
                <form>
                  <div class="mb-3" *ngIf="displayName">
                    <label for="userName" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="userName" [(ngModel)]="userDetails.name" name="name">
                  </div>
                  <div class="mb-3" *ngIf="displaySurname">
                    <label for="userName" class="form-label">Prenoms</label>
                    <input type="text" class="form-control" id="surname" [(ngModel)]="userDetails.surname" name="surname">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editProfile()">Sauvegarder</button>
              </div>
            </ng-template>
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pc-menu-overlay" (click)="closeMenu()" (keydown)="handleKeyDown($event)" tabindex="0"></div>
</div>

<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Copyright &copy;
          <a href="https://cybersds.fr" target="_blank">CyberShield Dev Solutions</a>
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a href="#" target="_blank">Politique de confidentialite</a>
          </li>
          <li class="list-inline-item"><a href="#" target="_blank">Contactez nous</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
